body {
    background: url("images/bg.png") no-repeat fixed bottom;
    margin: 0; /* Add this to remove default body margin */
    padding: 0; /* Add this to remove default body padding */
    font-family: Roboto, "Helvetica Neue", "Arial Nova", sans-serif;
}

.main_block {
    max-width: 1280px; /* Change width to max-width for responsiveness */
    margin: auto;
    padding-bottom: 100px; /* Add padding to create space for the social media section at the bottom */
    position: relative; /* Add position relative for absolute positioning of social media section */
}

.logo {
    background: url("images/logo.png") no-repeat;
    width: 250px;
    height: 250px;
    margin: 30px auto 0;
}

.splash_header {
    width: 100%; /* Change to 100% to fill the available width */
    margin: 30px auto 0;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.slash_info {
    font-size: 15px;
    width: 860px;
    margin: 20px auto 0;
    margin-bottom: 30px;
}

.social_media_section {
    position: absolute; /* Change to absolute positioning */
    bottom: 30px; /* Align to the bottom */
    width: 100%; /* Make it full width */
    display: flex;
    justify-content: center; /* Center align the social buttons */
}

.social_button {
    width: 50px;
    height: 50px;
    background-image: url(images/social-buttons.png);
    margin: 0 5px; /* Add margin for spacing between buttons */
}

/* Adjust background positions for each button */
.instagram_button {
    background-position-x: 3px;
}

.facebook_button {
    background-position-x: 153px;
}

.twitter_button {
    background-position-x: 53px;
}

.whatsapp_button {
    background-position-x: 103px;
}

.contact_us {
  width: 830px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 40px auto 0;
  border-top: 1px solid #000;
  padding-top: 30px;
  border-top: 2px solid #e78d2e;
}

address {
  width: 830px;
  text-align: center;
  margin: 5px auto;
  font-size: 15px;
}